html, body {
 margin: 0;
 padding-left: 30;
 }
body {
 background-color: #E6E6FA;
 font-size: 100%;
 }
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-sans-v13-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
};
 h1 {color: rgb(0, 50, 110); font-size: 70px; }
 
h2 {
 font-size: 200%; 
 color:#c89108; 
 text-decoration: underline #c89108;
 }
h3 {
 font-size: 150%;
 color: rbg(0,50,110);
 font-weight: normal;
}
h4 {
 font-size: 140%;
 color: rbg(0,50,110);
 font-weight: lighter;
}
p,ul,li,td {
 color: ; 
 }
a:link {
 color:#00326e ;
 text-decoration:none ;
 } 
a:visited {
 color: grey ;
 }
a:hover {
 color :#c89108 ; background-color:}
a:active, a: {
 color: black ;
}
li {
 font-family: ;
 font-size: ;
 color:rgb(0, 50, 110);
 display :;
 list-style-image : url(puce.png);
} 
table {border: rbg(0,50,110 ;width: 50%;}
