html, body {
 margin: 0;
 padding-left: 30;
 }
body {
 background-color: #E6E6FA; 
 font-family: Merriweather; 
 font-size: 100%;
 }
 h1 {color: rgb(0, 50, 110);} h1 {font-size: 50px;}
 
h2 {
 font-size: 180%; 
 color:#c89108; 
 text-decoration: underline #c89108;
 }
h3 {
 font-size: 150%;
 color: rbg(0,50,110);
 font-weight: normal;
}
h4 {
 font-size: 140%;
 color: rbg(0,50,110);
 font-weight: lighter;
}
p,ul,li,td {
 color: ; 
 }
a:link {
 color:;
 text-decoration:none ;
 } 
a:visited {
 color: rbg(0,50,110);
 }
a:hover {
 color :#c89108 ; background-color:}
a:active, a: {
 color: black ;
}
li {
 font-family: ;
 font-size: ;
 color:rgb(0, 50, 110);
 display :;
 list-style-image : url(puce.png);
} 
table {border: rbg(0,50,110 ;width: 50%;}
